.tab-section{
  position: relative;
  width: 100%;
  background-color: transparent;
  height: fit-content;
  margin-bottom: -20px;
  color: black;
}

.tab-container {
  position: relative;
  width: 80vw;
  height: fit-content;
  border: 50px solid transparent;
  margin: 20px auto;
  margin-top: -0px;
  background-color: transparent;
}

.tab-links-container {
  display: flex;
}

.tab-link {
  flex: 1;
  background-color: var(--base-color);
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: all 0.3s;
  border-radius: 30px 10px 0 0;
}

.tab-link:hover {
  background-color: #ccc;
  border: transparent;
  outline: none;
}

.tab-link.active {
  color: var(--base-color);
  background-color: var(--dark-purple);
  border-bottom: transparent;
  outline: none;
}

.tab-content {
  display: none;
  padding: 20px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(25px);
  -webkit-backdrop-filter: blur(25px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-top: transparent;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.form-row {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form-section {
  flex: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.form-section > div {
  flex: 1;
}

.a-date{flex: 3;}
.destination{flex: 3;}

.button-section select,
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  flex: 2;
  /* width: 20px; */
  width: 100%;

}

/* #region for airport selector */

.airport-selector input[type="text"] {
  padding: 8px;
}

.airport-dropdown {
  position: fixed;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  box-sizing: border-box;
}

.airport-dropdown.active {
  display: block;
}

.airport-option {
  padding: 8px;
  cursor: pointer;
}

.airport-option:hover {
  background-color: #f0f0f0;
}

/* #endregion */


.swap-button {
  width: 20%;
  height: auto;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: var(--purple);
  border: none;
  cursor: pointer;
}

.passenger-number-input {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}

.passenger-number-input button {
  max-width: 200px;
  padding: 6px 10px;
  border: none;
  background-color: var(--dark-purple);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
  font-family: 'SF Pro', 'Arial', sans-serif;
}

.passenger-number-input button:hover {
  background-color: var(--purple);
}

.passenger-number-input input {
  flex: 1;
  text-align: center;
  border: 1px solid #ccc;
  border-left: none;
  border-right: none;
}

.submit-booking-details {
  padding: 10px;
  border: none;
  background-color: var(--purple);
  color: var(--base-color);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
}

.submit-booking-details:hover {
  background-color: var(--dark-purple);
}

.passenger-details {
  padding: 10px;
  display: none;
  margin-top: 12px;
  border-radius: 4px;
  cursor: pointer;
  display: none;
  background-color: #fff;
  border: 1px solid #ccc;
  border-top: none;
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.toggle-passenger-details {
  padding: 10px;
  border: none;
  background-color: var(--purple);
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%;
}

.toggle-passenger-details:hover {
  background-color: var(--dark-purple);
}

.passenger-details.active {
  display: block;
}

.button-section {
  background-color: transparent;
  height: fit-content;
  margin-bottom: -20px;
}