body{
    margin:0;
    background-image: url('../images/sign_up_bg.png');
            background-size: cover; 
            background-position: center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            overflow: hidden;
}

#logo{
    position: absolute;
    top:10px;
    left:16px;
    height:48px;
}
#big-glass{
    position: fixed;
            top: 0;
            left: calc(100% - 700px);
            height: 100%;
            width: 550px;
            background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
            backdrop-filter: blur(10px);
            -webkit-backdrop-filter: blur(10px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
#small-glass{
    position: fixed;
    top: 75%; 
    left: 8%; 
    height: 150px;
    width: 300px;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
}
@media (max-width: 1196px) {
    #big-glass {
        left: calc(50% - 258.5px);
    }
}
h1{
    position: absolute;
    top:100px;
    left:80px;
    font-family: 'Arkhip', sans-serif;
    color: white;
    text-shadow: 0 2px 10px black;
    font-size: 40px;
}
p{
    font-family: "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif;
    text-align: center;
    color: white;
    font-size: 23px;
}
a{
    text-decoration: none;
}
#sign-in{
    font-family: 'Arkhip', sans-serif;
    color: white;
    font-size: 30px;
}
#arrow_1{
    height: 30px;
    margin-left: 5px;
    margin-top: -5px;

}
.container{
    position: absolute;
    left:65px;
    display: flex;
    align-items: center;

}




.email-field {
    position: relative;
    margin-bottom: 20px;
    top: 200px; /* Adjust as needed */
    left:80px;
}

.email-input {
    width: 350px; 
    height: 35px; 
    padding: 5px;
    transition: border-color 0.3s; 
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    outline: none;
    position: relative; /* Ensure z-index works */
}

.email-input:focus,
.email-input.has-value {
    border-color: #892680; /* Change border color on focus or when value exists */
}

.email-label {
    position: absolute;
    top: 9px;
    left: 25px;
    color: #fff; /* Change text color to white */
    font-size: 22px; /* Change font size to 20px */
    font-family: "SF Pro Medium Italic", "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif; /* Change font family */
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
    z-index: 1; /* Ensure the label is above the transparent border */
}

.email-input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid transparent; /* Set border to transparent */
    z-index: 0; /* Ensure the pseudo-element is behind the label */
    transition: border-color 0.3s; /* Transition for border color */
}

.email-input:focus ~ .email-label,
.email-input:not(:placeholder-shown):not(:focus) ~ .email-label {
    top: -10px;
    font-size: 18px;
    font-family: "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(to bottom, #AFA99F,#D0C5B6);
    padding-left: 5px;
    padding-right: 5px;
}

.email-input:focus::before,
.email-input.has-value::before {
    border-color: rgba(137, 38, 128, 0.5); /* Partially transparent border */
    
}
.email-input.invalid {
    border-color: red;
}






.password-field {
    position: relative;
    margin-bottom: 20px;
    top: 205px; /* Adjust as needed */
    left:80px;
}

.password-input {
    width: 350px;
    height: 35px;
    padding: 5px;
    transition: border-color 0.3s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    outline: none;
    position: relative; /* Ensure z-index works */
}

.password-input:focus,
.password-input.has-value {
    border-color: #892680; /* Change border color on focus or when value exists */
}

.password-label {
    position: absolute;
    top: 9px;
    left: 25px;
    color: #fff; /* Change text color to white */
    font-size: 22px; /* Change font size to 20px */
    font-family: "SF Pro Medium Italic", "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif; /* Change font family */
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
    z-index: 1; /* Ensure the label is above the transparent border */
}

.password-input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid transparent; /* Set border to transparent */
    z-index: 0; /* Ensure the pseudo-element is behind the label */
    transition: border-color 0.3s; /* Transition for border color */
}

.password-input:focus ~ .password-label,
.password-input:not(:placeholder-shown):not(:focus) ~ .password-label {
    top: -10px;
    font-size: 18px;
    font-family: "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(to bottom, #9A9B9A, #989998, #B9B9B6, #B6B6B3);
    padding-left: 5px;
    padding-right: 5px;
}

.password-input:focus::before,
.password-input.has-value::before {
    border-color: rgba(137, 38, 128, 0.5); /* Partially transparent border */
}


.confirm-password-field {
    position: relative;
    margin-bottom: 20px;
    top: 210px; /* Adjust as needed */
    left:80px;
}

.confirm-password-input {
    width: 350px;
    height: 35px;
    padding: 5px;
    transition: border-color 0.3s;
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 15px;
    border: 2px solid white;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    outline: none;
    position: relative; /* Ensure z-index works */
}

.confirm-password-input:focus,
.confirm-password-input.has-value {
    border-color: #892680; /* Change border color on focus or when value exists */
}

.confirm-password-label {
    position: absolute;
    top: 9px;
    left: 25px;
    color: #fff; /* Change text color to white */
    font-size: 22px; /* Change font size to 20px */
    font-family: "SF Pro Medium Italic", "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif; /* Change font family */
    transition: top 0.3s, font-size 0.3s, color 0.3s;
    pointer-events: none;
    z-index: 1; /* Ensure the label is above the transparent border */
}

.confirm-password-input::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid transparent; /* Set border to transparent */
    z-index: 0; /* Ensure the pseudo-element is behind the label */
    transition: border-color 0.3s; /* Transition for border color */
}

.confirm-password-input:focus ~ .confirm-password-label,
.confirm-password-input:not(:placeholder-shown):not(:focus) ~ .confirm-password-label {
    top: -10px;
    font-size: 18px;
    font-family: "SF Pro", "SF Pro Text", "SF Pro Icons", -apple-system, BlinkMacSystemFont, sans-serif;
    background: linear-gradient(to bottom, #9A9B9A, #989998, #B9B9B6, #B6B6B3);
    padding-left: 5px;
    padding-right: 5px;
}

.confirm-password-input:focus::before,
.confirm-password-input.has-value::before {
    border-color: rgba(137, 38, 128, 0.5); /* Partially transparent border */
}



